.container {
  margin: 0 auto;
  max-width: 1920px;
}

.bg {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  opacity: 96%;
  height: 100vh;
}

.flex-nav {
  display: flex;
  height: 80px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.flex-item {
}

.logo p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
 
 
 
}
.menu a {
  color: rgb(255, 255, 255);
  margin-left: 80px;
  text-decoration: none;
 
  
}

